.content{
    height: auto;
    background-color: #39373b;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  @media(max-width:1439px){
    .content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }