.conteiner{
    text-align: center;
    height: auto;
    width: auto;
    font-family: 'title';
    color: white;
    margin-top: 75px;
    margin-left: 5px;
}
.conteiner a{
    text-decoration: none;
    text-transform: none;
    font-size: 35px;
}

@media ( max-width:425px){
    .conteiner{
        text-align: center;
        height: auto;
        width: auto;
        font-family: 'title';
        color: white;
        margin-top: 5px;
        
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .conteiner a{
        text-decoration: none;
        text-transform: none;
        font-size: 25px;
        margin-left: 55px;
    }
}
@media ( max-width:320px){
    .conteiner{
        text-align: center;
        height: auto;
        width: auto;
        font-family: 'title';
        color: white;
        margin-top: 5px;
        
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .conteiner a{
        text-decoration: none;
        text-transform: none;
        font-size: 23px;
        margin-left: 55px;
    }
}
