body,html #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "timer";
  src: local(font1), url(./fonts/PressStart2P-Regular.ttf);;
}

@font-face {
  font-family: "font3";
  src:local(font3) url(./fonts/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: 'font1';
  src: url(./fonts/future-forces-super.ttf);
}
@font-face {
  font-family: 'title';
  src: url(./fonts/Jura-VariableFont_wght.ttf);
}