.header {
  height: 125px;
  background-color: #222222;
  grid-column: 1/4;
  grid-row: 1/2;
  border-bottom: 2px solid #bb45ff;
  display: grid;
  grid-template-columns: 40% 35% 25%;
}
.title{
  grid-column: 1/2;
  font-size: 29px;
  color: white;
  font-family: 'timer';
  text-align: center;
  display: grid;
  grid-template-columns:10% 20% 20% 30% 20%;
}
.title h1{
  margin-top: 55px;
  grid-column: 2/3;
}

.logo{
  height: 100%;
  width: 90%;
  grid-column: 2/3;
  background-image: url(../../../img/logo/icons8-будильник-включен-64.png);
  background-size: cover;
}
 @media (max-width:1441px){
  .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .title{
    font-size: 1em;
    margin: 0 auto;
    color: white;
    font-family: 'timer';
   
  }
 }
